/*

CSS File TOC
------------------------

1. Common
2. Header
3. Theme Specific Content Styles

*/


/*========================*/
/*===  1. Common    ===*/
/*========================*/

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:#f3f4f5;
	color:#353535;
}

#wrapper {
	margin:0 auto;
}

a {
	color:#42547b;
}

a:hover {
color:#000;
}

@font-face {
	font-family:"Roboto";
	src: url(Arvil_Sans.ttf);
}

@font-face {
	font-family:"Humnst777 Blk BT";
	src: url(Hum777k.ttf);
}

@font-face {
	font-family:"Humnst777 BT";
	src: url(Hum777Bd.ttf);
}

@font-face {
	font-family:"Oswald";
	src: url(Oswald-Regular.ttf);
}

@font-face {
	font-family:"Awesome";
	src: url(FontAwesome.ttf);
}

h1 {
	color:#1f3862;
	font-family: 'Oswald';
	text-transform: uppercase;
	font-weight:bold;
	font-size:50px;
	
}

h2 {
	color:#666666;
	font-family: 'Oswald';
	font-size:22px;
	margin-top:10px;
}

h3 {
	color:#333333;
	font-family: 'Awesome';
	font-weight:bold;
	font-size:15px;
	letter-spacing: -0.5px;
	margin-bottom:2px;
}

h4 {
	color:#b45a09;
	font-weight:normal;
}

h5 {
	
	color:#142950;
	font-family: 'Oswald';
	font-size:18px;
	letter-spacing: 0.5px;
}

#main h5 {
	background: url(../images/section-bg.png) no-repeat;
	height: 35px;
	width: 610px;
	line-height: 35px;
	font-size:18px;
	margin-bottom:-10px;
}


h6 {
	font-family:Tahoma, Geneva, sans-serif;
	color:#545454;
	font-weight:normal;
}


/*========================*/
/*===  2. Header    ===*/
/*========================*/


.header {

}

#topPanel {
	background-color: #1f3862 !important;
	border-bottom:1px solid #000;
}
#topPanelHandle {
	background-color:#1f3862 !important;
}

/*===============================================*/
/*===    3. Theme Specific Content Styles     ===*/
/*===============================================*/

.education_items h6, .references h6 {
	color:#000;
}
.education_items p {
	color:#545454;
}

li {
	font-family:'Awesome', Geneva, sans-serif;
}

p {
	font-family:'Awesome', Geneva, sans-serif;
	font-size: 14px;
}

.spec {
	font-weight: bold;
}
.year {
	color:#545454;
	font-style: italic;
}

.tag {
	color:#fff;
	background:#5fb053;
	font-family:Tahoma, Geneva, sans-serif;
	background:url(../images/tag-big.png) no-repeat !important;
}
.winner_tag {
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	background:url(../images/winner-big.png) no-repeat !important;
}

.web_icon {
	background:url(../images/website-big.png) no-repeat;
	height:21px;
}
.msg_icon {
	background:url(../images/msg-big.png) no-repeat;
}
.skype_icon {
	background:url(../images/skype-big.png) no-repeat;
	height:21px;
}
.twitter_icon {
	background:url(../images/twitter-big.png) no-repeat;
}
.ins_icon {
	background:url(../images/ins-big.png) no-repeat;
}
.github_icon {
	background:url(../images/github-big.png) no-repeat;
}
.locate_icon {
	background:url(../images/locate-big.png) no-repeat;
}

.pdf_icon {
	background:url(../images/pdf-big.png) no-repeat;
}

.skills li{background-color:#caced7; padding:0px 5px !important; margin:4px 0px !important; color: #333; }
.skills li:hover{background-color:#1f3862; color:#fff;}